@charset "UTF-8";

div.container {
    border: 3px solid blue;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(3, 100px);
    grid-auto-flow: column;
    grid-auto-rows: 100px;
    grid-auto-columns: 120px;
    gap: 20px;
    place-items: normal normal;
    place-content: normal normal;
}

div.item {
    border: 1px dashed red;
}