@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #193A51;
}

header > h1 {
    background-color: #091F34;
    color: #5188AE;
    text-align: center;
    padding: 10px;
}

span#ico-burger {
    background-color: #2D5471;
    color: black;
    display: block;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

span#ico-burger:hover {
    background-color: #1b3b52;
}

menu {
    display: none;
}

menu > ul {
    list-style-type: none;
}

menu > ul > li > a {
    display: block;
    text-decoration: none;
    background-color: #2D5471;
    padding: 10px;
    text-align: center;
    margin: 15px;
    border-radius: 10px;
    color: white;
}

menu > ul > li > a:hover {
    background-color: #3E6F8F;
    text-decoration: underline;
}

main {
    width: 90vw;
    background-color: white;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    
}

main > article > h2 {
    text-align: center;
    padding-bottom: 20px;
    padding-top: 10px;
}

article > p {
    padding-bottom: 20px;
    text-indent: 15px;
    text-align: justify;
}

